@{
    ViewData["Title"] = "SPENCERTAINEMENT";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To the SPENCERTAINMENT Entertainer Management Portal</h2>
    <h3><a asp-controller="Home" asp-action="EntertainerList">View Entertainers</a></h3>
    <img src="~/namw-v-chuck-e-cheese-b_kxas2zzo_2023-11-15-09-41-55.jpg" width="500" />
    <p>SPENCERTAINMENT is BYU Information Systems' leading entertainment agency</a>.</p>
</div>
